$dark-green: #10403B;
$middle-green: #127369;
$light-green: #8AA6A3;
$dark-gray: #637371;
$light-gray: #BFBFBF;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: $dark-green;
  font-family: 'Lato', sans-serif;
  height: 100%;
}

.main {
  height: 400px;
  width: 350px;
  backdrop-filter: blur(17px) saturate(180%);
  -webkit-backdrop-filter: blur(17px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 20px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome {
  position: relative;
  margin-top: 45px;
}

.welcome h1 {
  color: $light-green;
  font-weight: 700;
  text-transform: uppercase;
}

.logintxt {
  margin-top: 25px;
}

.logintxt h2 {
  color: $light-green;
  text-transform: uppercase;
  font-weight: 400;
}

.form {
  margin-top: 25px;
}

.usernameinput {
  background: transparent;
  border: 3px solid $dark-green;
  width: 250px;
  height: 50px;
  margin: 0 auto;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  transition: 0.25s;
}

.usernameinput:focus-within {
  border: 3px solid $light-green;
}

.usernameinput input {
  position: relative;
  height: 30px;
  background: transparent;
  border: none;
  outline: none;
  color: $light-green;
}

.usernameinput i {
  position: relative;
  top: 2px;
  color: $light-green;
  font-size: 25px;
  padding: 10px;
}

.passwordinput {
  background: transparent;
  border: 3px solid $dark-green;
  width: 250px;
  height: 50px;
  margin: 0 auto;
  margin-top: 25px;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  transition: 0.25s;
}

.passwordinput:focus-within {
  border: 3px solid $light-green;
}

.passwordinput input {
  position: relative;
  height: 30px;
  background: transparent;
  border: none;
  outline: none;
  color: $light-green;
}

.passwordinput i {
  position: relative;
  top: 3.5px;
  color: $light-green;
  font-size: 25px;
  padding: 10px;
}

.submitbtn {
  margin-top: 25px;
}

.submitbtn input {
  background: transparent;
  color: $light-gray;
  font-weight: 700;
  width: 100px;
  height: 45px;
  border: 3px solid $light-green;
  border-radius: 50px;
  letter-spacing: 1px;
  transition: 0.25s;
}

.submitbtn input:hover {
  color: $dark-green;
  background: $light-green;
}


